.about {
    height: 500px;
    background-color: whitesmoke;
    display: flex;
    justify-content: end;
    align-items: center;

    .about-wrapper {
        padding: 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-content {
            width: 50%;

            .section-title {
                margin: 0px;
                font-size: 35px;
                font-weight: 600;
            }

            .title-border {
                width: 90px;
                border: solid 2px #0a3b7c;
                margin-bottom: 15px;
            }

            .section-text {
                margin: 0px;
                width: 100%;
                max-width: 500px;
                padding-bottom: 30px;
                font-size: 20px;
                line-height: 30px;
            }
        }

        .img-content {
            width: 50%;
            display: flex;
            flex-direction: column;

            .img-holder {
                display: flex;

                .about-img-a {
                    width: 100%;
                    max-width: 160px;
                    margin: 5px;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

                    .img-fluid {
                        max-width: 100%;
                        height: auto;
                    }

                    &:hover {
                        cursor: pointer;
                        opacity: .6;
                    }
                }

                .about-img-b {
                    width: 100%;
                    max-width: 360px;
                    margin: 5px;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

                    .img-fluid {
                        max-width: 100%;
                        height: 100%;
                    }

                    &:hover {
                        cursor: pointer;
                        opacity: .6;
                    }
                }
            }
        }
    }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  

    .about {
        height: auto;

        .about-wrapper {

            .text-content {
                width: 100%;
                padding-right: 30px;
                
                .section-text {
                    max-width: 100%;
                    padding-bottom: 15px;
                }
            }

            .img-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

    .about {
        height: auto;

        .about-wrapper {
            flex-direction: column;

            .text-content {
                width: 100%;
                
                .section-text {
                    max-width: 100%;
                    padding-bottom: 15px;
                }
            }

            .img-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 15px;

                .img-holder {
                    .about-img-a {
                        max-width: 230px;
                    }

                    .about-img-b {
                        max-width: 430px;
                    }
                }
            }
        }
    }

}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

    // .about {
    //     height: auto;

    //     .about-wrapper {
    //         flex-direction: column;

    //         .text-content {
    //             width: 100%;
                
    //             .section-title {
    //                 font-size: 25px;
    //             }
                
    //             .section-text {
    //                 max-width: 100%;
    //                 padding-bottom: 15px;
    //                 font-size: 18px;
    //             }
    //         }

    //         .img-content {
    //             width: 100%;
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;

    //             .img-holder {
    //                 .about-img-a {
    //                     max-width: 130px;
    //                     height: 130px;
    //                 }

    //                 .about-img-b {
    //                     max-width: 290px;
    //                 }
    //             }
    //         }
    //     }
    // }

    .about {
        height: auto;

        .about-wrapper {
            flex-direction: column;

            .text-content {
                width: 100%;

                .section-title {
                    font-size: 25px;
                }
                
                .section-text {
                    max-width: 100%;
                    padding-bottom: 15px;
                    font-size: 18px;
                }
                
            }

            .img-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

    .about {
        height: auto;

        .about-wrapper {
            flex-direction: column;

            .text-content {
                width: 100%;

                .section-title {
                    font-size: 25px;
                }
                
                .section-text {
                    max-width: 100%;
                    padding-bottom: 15px;
                    font-size: 18px;
                }
            }

            .img-content {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .img-holder {
                    // .about-img-a {
                    //     max-width: 130px;
                    //     height: 130px;
                    // }

                    // .about-img-b {
                    //     max-width: 290px;
                    // }
                }
            }
        }
    }

}

