.policy {
    padding: 50px 0px;

    .page-title {
        padding-bottom: 15px;
    }

    .page-text {

    }

    .page-section {
        padding-top: 20px;

        .section-title {

        }
        
        .section-text {

        }

        .nested-list {
            .list-title {
                padding-top: 10px;
                // font-weight: 500;
            }
        }
        
    }
}