.policy {
    padding: 50px 0px;

    .page-title {
        padding-bottom: 15px;
    }

    .page-text {

    }

    .page-section {
        padding-top: 20px;

        .section-title {

        }
        
        .section-text {

        }

        .nested-list {
            .list-title {
                padding-top: 10px;
                // font-weight: 500;
            }
        }
        
    }
}

@media (max-width: 575.98px) {
    .policy {
        .page-title {
            padding-bottom: 0px;
            font-size: 30px;
        }

        .page-text {
            font-size: 14px;
        }

        .page-section {
            .section-title {
                font-size: 18px;
            }

            .list-item {
                font-size: 14px;
            }

            .section-text {
                font-size: 14px;
            }
        }
    }
}